# General
DJANGO_SECRET_KEY=av+sy)w)br1opo4_v%o6oustrglr@*elq2#(tunnyc&_qsa#xp
DJANGO_ALLOWED_HOSTS=*
LOAD_DATA=off
BASE_URL=localhost:8000

# Debug & Logging
DJANGO_DEBUG=True

# Database
POSTGRES_HOST=postgres
POSTGRES_USER=openroad
POSTGRES_PASSWORD=openroad
POSTGRES_DB=flow_runner

# Flow Playground Directories 
PLAYGROUND_DIR=/playground

# OpenROAD Frontend
OPENROAD_URL=http://localhost:8000/runner-listener

# Celery Stuff
BROKER_URL=redis://broker
CELERY_RESULT_BACKEND=redis://broker

# Live Monitoring DB
LIVE_MONITORING_URL=localhost
LIVE_MONITORING_PASSWORD=